body {
	background: fixed white url(../i/ppat.gif) repeat top left;
	font: normal 13px/1.5em georgia, times new roman, times, serif;
	margin: 0 0 25px 0;
	padding: 0;
	text-align: center;
}

h1#masthead {
	background: transparent url(../i/nav-shadow.gif) no-repeat scroll 0 bottom;
	left: 25px;
	height: 81px;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 20px;
}

div#bucket {
	background-color: white;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	color: black;
	margin: 0 0 0 175px;
	padding: 40px 40px 20px;
	text-align: justify;
	width: 680px;
}

div#footer {
	background-color: #f3f3f3;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	clear: both;
	color: #aaa;
	font-size: 11px;
	line-height: 13px;
	margin: 20px -40px -20px;
	padding: 5px 0;
	text-align: center;
}

/*** MASTHEAD ******/

h1#masthead a {
	background: #F0F0F0 url(../i/header.gif) no-repeat -1px 0 !important;
	border: 1px solid #bbb;
	border-bottom-color: #777;
	display: block;
	height: 75px;
	width: 149px;
}
	h1#masthead a:hover { background-color: white !important; }
	h1#masthead a span { display: none }  /* Clears the masthead text */

/*** NAV ***********/

#nav {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	position: fixed;
	left: 25px;
	top: 125px;
}
	
	#nav li {
		background: transparent url(../i/nav-shadow.gif) no-repeat scroll 0 bottom;
		margin: 0 0 8px;
		padding: 0 0 3px;
	}
		
		#bucket #nav a:link,
		#bucket #nav a:visited {
			background-color: #f3f3f3;
			border: 1px solid #bbb;
			border-bottom-color: #777;
			color: #444;
			display: block;
			font-size: 14px;
			line-height: 2em;
			padding-left: 10px;
			text-align: left;
			text-decoration: none;
			width: 139px;
		}
			#bucket #nav a:hover { background: white }
			#bucket #nav a:active { color: black; text-decoration: underline; }

/*** BODY **********/

h2 {
	border-bottom: 1px solid #ddd;
	font-size: 30px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 23px;
	margin: 0 0 0.75em;
}
	#nav + h2 {
		margin-top: 35px;
	}

h3 {
	clear: both;
	font-size: 140%;
	font-weight: bold;
	margin-top: 30px;
}

h4 {
	color: #666;
	padding-left: 10px;
	font-size: 125%;
	font-style: italic;
	font-weight: normal;
}

.extrainfo {
	background-color: #f7f7f7;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: black;
	margin: 30px auto 0;
	padding: 5px 20px;
	width: 50%;
}

	.extrainfo p {
		margin: 5px 0;
		text-align: justify;
	}


/* Floating images */
div.right, div.rightw, div.left, div.leftw {
	font-size: 90%;
	line-height: 16px;
	margin: 0;
	padding-bottom: 30px;
	width: 170px;
}
div.rightw, div.leftw { width: 225px }
div.right, div.rightw { float: right; padding-left: 40px }
div.left, div.leftw { float: left; padding-right: 40px }
div.right img, div.rightw img, div.left img, div.leftw img {
	display: block;
	padding-bottom: 10px;
}
div.right img, div.rightw img { float: right }
div.left img, div.leftw img { float: left }


/* Gallery navigation */
span.middle {
	display: block;
	font-size: 120%;
	margin: 20px 0 5px;
	text-align: center;
	width: 100%;
}
span.left, span.right, span.left-top, span.right-top {
	display: block;
	font-size: 120%;
	margin-bottom: 15px;
	width: 48%;
}
span.left, span.left-top {
	float: left;
	text-align: right;
}
span.right, span.right-top { float: right }


/* Techniques listing */
ul {
	font-size: 110%;
	list-style-type: circle;
}
	li.quiet {
		font-size: 95% !important;
		list-style-type: none;
		margin: 2px 0 10px 10px;
	}


/* Forms */
form, fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
form { margin-top: 30px }
input { margin-bottom: 15px }
input.button { padding: 0 20px }
label { font-weight: bold }
select { height: 16px }
textarea {
	height: 175px;
	margin: 0 0 15px 0;
	padding: 0;
	width: 380px;
}
head:first-child+body #text { margin-left: 0 } /* An ugly hack to make IE7 behave */
div.error {
	background-color: #ffdfe0;
	border-top: 1px solid #ff8b8d;
	border-bottom: 1px solid #ff8b8d;
	color: black;
	margin: 30px auto !important;
	padding: 5px 20px;
	width: 50%;
}


/* Tables, shockingly */
table {
	border-collapse: collapse;
	margin: 0 auto 30px;
	text-align: center;
	width: 67%;
}
caption {
	font-weight: bold;
	margin: 30px auto 5px;
	width: 67%;
}
tr, td, th {
	border: 0;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
tr.even { background-color: #f5f5f5 }
tr.odd { background-color: transparent }
tr.even, tr.odd { border-top: 1px solid #eee }
th {
	color: #333;
	line-height: 1.1em;
	padding: 6px 0;
}
td {
	font-size: 1.1em;
	padding: 4px 0;
	width: 25%;
}


/* Crap */
hr {
	clear: both;
	margin: 35px auto;
}
sup, sub { font-size: 75%; line-height: 33% }
.spacer { clear: both }


#bucket a, #bucket a:visited {
	background-color: transparent;
	color: black;
}
#bucket a:hover { text-decoration: none }
#bucket a:active { text-decoration: underline overline }

/*** THUMBNAILS ****/

.imagewell,
.imagewell-nocaption,
.imagewell-big,
.imagewell-right {
	border-bottom: 1px solid #eee;
	float: left;
	height: 230px;
	margin-bottom: 20px;
	padding-left: 20px;
	text-align: center;
	width: 200px;
}
	.imagewell-nocaption,
	.imagewell-right {
		height: 200px;
		margin-bottom: 25px;
	}
	.imagewell-big {
		border-bottom: none;
		height: auto;
		padding-left: 0;
		margin-bottom: 0;
		width: auto;
	}
	.imagewell-right {
		border-bottom: none;
		float: right;
		margin-left: 35px;
		width: 180px;
	}
.dropshadow {
	background: url(../i/shadow-small.gif) right bottom no-repeat;
	float: left;
}
.dropshadow-big {
	background: url(../i/shadow-big.gif) right bottom no-repeat;
	float: left;
}
.dropshadowBL {
	background: url(../i/corner_bl.gif) -15px 100% no-repeat
}
.dropshadowTR {
	background: url(../i/corner_tr.gif) 100% -15px no-repeat;
	padding: 0 8px 8px 0;
}
.dropshadowTR img {
	background-color: white;
	border: 1px solid #888;
	color: black;
	display: block;
	padding: 5px;
}

div.imagewell span {
	display: block;
	text-align: left;
}
	
	div.imagewell span a,
	div.imagewell span a:visited {
		font-weight: bold;
		font-size: 110%;
		line-height: 25px;
		text-decoration: none !important;
	}

/*** FOOTER ********/

#footer a, #footer a:visited {
	background-color: transparent;
	color: #aaa;
	text-decoration: underline;
}
#footer a:hover { color: black; background-color: transparent }
#footer a:active { text-decoration: none }